/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
	width: 100%;
}
.wrapper {
	width: 100%;
	/*min-width: 500px;*/
	background-color: #c5cae9ff;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 75px;
	background: #c5cae9ff;
	background-image: url("header.png");
	background-repeat: repeat-x;
}
.header-image {
	height: 70%;
	width: 100%;
	background-image: url("Name.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0px;
	font-family: 'Josefin Sans', sans-serif;
}
input {
	font-family: 'Josefin Sans', sans-serif;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 400px;
	margin-left: -100%;
	position: relative;
	background: #B5E3FF;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 100px;
	background: #c5cae9ff;
}


/* Content Boxes
-----------------------------------------------------------------------------*/
.error {}
.error section {
	margin: auto;
	width: 150px;
	border: 5px solid #e57373;
	border-radius: 5px;
	text-align: center;
	padding: 5px 0px;
	font-weight: bold;
}

.waiting {}
.waiting section {
	margin: auto;
	width: 150px;
	border: 5px solid white;
	border-radius: 5px;
	text-align: center;
	padding: 5px 0px;
	font-weight: bold;
}