:local(.ProgressBar){
    grid-area: progress;
    width: 100%;
    height: 100%;
    background-color: #ededed;
    border-top: 1px solid #d1d1d1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
:local(.ProgressMarker){
    height: 100%;
    background-color: #4da059;
    float: left;
}
:local(.ProgressPercent){
    color: #191919;
    float: right;
    position: absolute;
    padding: 6px;
}
:local(.ProgressPercent b) {
    font-size: 1.15em;
    font-weight: bold;
}
