:local(.BookListWrap){
    width: 100%;
    margin: 0px;
}
:local(.BookList){
    width: 95%;
    height: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px auto;
    min-width: 270px;
}

/* Switch to two-column grid just before the breaking point of a three-column grid */
@media all and (max-width: 964px) {
    :local(.BookList){
        grid-template-columns: 1fr 1fr;
    }
}
/* Switch to one-column grid just before the breaking point of a two-column grid */
@media all and (max-width: 640px) {
    :local(.BookList){
        grid-template-columns: 1fr;
    }
}
