:local(.pageList){
    color: #191919;
    font-size: 2em;
}
:local(.pageLink){
    display: inline;
}
:local(.pageLink:not(:first-child)) {
    margin-left: 5px;
}
:local(.pageLink a){
    text-decoration: underline;
    cursor: pointer;
    color: #4e77a0;
}
